	html, body
	{
		width:100%;
		height:100vh;
		margin:0;
	}
	*
	{
		box-sizing: border-box;
	}
	body
	{
		background: rgb(67, 67, 67);
		color:rgb(153, 153, 153);
		padding:10px;

		font-family: Roboto;
		font-size: 14px;
	}
	.console
	{
		width:90%;
		height:90%;

		margin:auto;

		overflow-y: scroll;
		
		background: rgb(36, 36, 36);
		padding:20px;
		border:1px solid gray;
		border-radius:2px;
	}
	.beginOfLine
	{
		padding-right:20px;
	}
	.console .cmd
	{
		color: rgb(185, 162, 32);
	}
	.console .result
	{
		color:rgb(66, 155, 66);
	}
	.console .error
	{
		color: rgb(164, 48, 21);
	}

	.console-input
	{
		width:90%;
		margin:auto;
		padding-top:5px;
	}
		.console-input input
	{
		width:100%;
		background-color:black;
		color:white;
		border:1px solid gray;
	}